/* Import custom font style */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Apply to everything */
* {

	/* Font style in the navigation bar */
	font-family: Montserrat, sans-serif;

	/* Remove all the margin on the website */
	margin: 0;

	/* Remove all the padding on the website */
	padding: 0;

	/* Change the text to white when you hover over the name of the company */
	color: rgba(255, 255, 255);
}

/* Main navigation bar */
.navbar {

	/* Background color of the navigation bar */
	background-color: transparent;
}

/* Navigation bar links */
.navbar-light .navbar-nav .nav-link {

    /* Change color of the links text */
    color: rgba(0, 0, 0, 1.0)!important;
}

/* If the screen resolution less than 320 px */
@media (max-width: 480px) {

    /* Navigation bar links */
    .navbar-light .navbar-nav .nav-link {

        /* Change color of the links text */
        color: rgba(0, 0, 0, 1.0)!important;
    }
}

/* Navigation bar links when hovering */
.navbar-light .navbar-nav .nav-link:hover {

    /* Change color of the links text */
    color: rgba(255, 0, 0, 1.0)!important;
}

/* Section dividing the main page */
section.hero {

	/* Make the image the size of your viewport height */
	height: 100vh;

	/* Align the image to the middle of the screen */
	text-align: center;

	/* Make the image position relative */
	position: relative;

	/* Cover the entire section with the image */
	background-size: cover;
}

/* Carousel images */
.d-block {

    /* Makes the carousel relative */
    position: relative;

    /* Makes display be none */
    display: none;

    /* Moves the carousel to the right */
    left: 59%;
}

/* Title of the about page */
h1.about-title {

    /* Color of the text */
    color: rgba(0, 0, 0, 1.0);

    /* Makes the text relative */
    position: relative;

    /* Moves the text to the left */
    right: 22%;

    /* Moves the text downwards */
    top: 22%;
}

/* About page description */
p.about-description {

    /* Color of the text */
    color: rgba(0, 0, 0, 1.0);

    /* Makes the text relative */
    position: relative;

    /* Moves the text to the left */
    right: 22%;

    /* Moves the text downwards */
    top: 22%;
}

/* If the screen resolution less than 320 px */
@media (max-width: 480px) {

    /* About page description */
    p.about-description {

        /* Color of the text */
        color: rgba(0, 0, 0, 1.0);

        /* Moves the text to the left */
        right: 0%;

        /* Moves the text downwards */
        top: 0%;
    }


    /* Title of the about page */
    h1.about-title {

        /* Color of the text */
        color: rgba(0, 0, 0, 1.0);

        /* Moves the text to the left */
        right: 0%;

        /* Moves the text downwards */
        top: 0%;
    }

    /* Carousel images */
    .d-block {

        /* Makes the carousel relative */
        position: revert;

        /* Makes display be none */
        display: none;

        /* Moves the carousel to the right */
        left: 59%;
    }
}
